<div id="about">
    <span id="avatar">
        <img src="http://placehold.it/130x130&text=Me" alt="" id="avatar">
    </span>

    <div id="name">Motaquillah Maddane</div>

    <p id="description">
        Fullstack Developer, always thinking of U and I and the X of course :). <br>
        Interested in PHP(Laravel) & Js(Angular). A former .NET(er). <a href="{{ site.url }}{{ post.url }}/about">Read more</a>
    </p>
</div>