<div id="about">
    <span id="avatar">
        <img src="{{ site.url }}/assets/images/avatar.jpg" alt="" id="avatar">
    </span>

    <div id="name">Motaquillah Maddane</div>

    <p id="description">
        Fullstack developer, design enthusiast, <strong>I'll blog</strong> mainly about PHP(Laravel), Js(Angular), CSS & Life. <br>
        A former .NET(er). Member of <a href="http://moroccanphpartisans.github.io/" target="_blank">Moroccan PHP Artisans</a>.
    </p>

    <div id="social-links">
        <a href="https://twitter.com/thekroniker" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
        </a>

        <a href="https://github.com/kronik3r" target="_blank">
            <i class="fa fa-github-alt fa-lg"></i>
        </a>

        <a href="http://saintsal.com/facebook/" target="_blank">
            <i class="fa fa-facebook fa-lg"></i>
        </a>

        <a href="https://www.youtube.com/channel/UC0vUE2Im9VBRupZ_huV-9kg" target="_blank">
            <i class="fa fa-youtube fa-lg"></i>
        </a>
    </div>
</div>