<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ page.title }}{% endblock %} &raquo; {{ site.title }}</title>
        <link href="{{ site.url }}/assets/css/app.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include "header.twig" %}

        {% include "about.twig" %}

        {% include 'sidebar.twig' %}

        <div id="content">
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
    </body>
</html>