#content {
    width: 71.875%;
    margin-left: 28.125%;
}

.post-header {
    color: #fff;
}

.post-header {
    position : relative;
    background-color: $blueish;
    height: 400px;
    text-align: center;
    overflow: hidden;
    font-weight: 300;
}

.post-header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.post-cover {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.post-cover img {
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    margin: auto;
    min-width: 100%;
}

.post-titles {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    position: relative;
}

.post-title {
    font-size: 60px;
    border-bottom: 3px solid #fff;
    padding-bottom:10px;
    margin-bottom:10px;
}

.post-subtitle {
    font-size: 25px;
}

.post-tags, .post-date {
    position: absolute;
    bottom: 10px;
}

.post-tags {
    left: 20px;
}

.post-tag {
    text-decoration: none;
    color : #fff;
    font-weight: 400;
    text-transform: capitalize;
}

.post-tag:hover {
    color : $blueish;
}

.post-tag:after {
    content : ',';
}
.post-tag:last-child:after {
    content : '';
}

.post-tags-icon {
    margin-right:10px;
}

.post-date {
    right: 20px;
}

.post-content a {
    color: $blueish;
    font-weight: 700;
}

// Disqus related styling
#disqus_thread {
    margin:40px;
}

#disqus_thread a{
    color: black !important;
}