.post-content {
    padding: 45px 20px;
    font-size: 18px;
    color: $iron;
    font-weight: 300;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 0px;
    margin-bottom : 25px;
}

.post-content img {
    max-width: 100%;
}