.post-content {
    padding: 45px 20px;
    font-size: 18px;
    color: $iron;
    font-weight: 300;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 0px;
    margin-bottom : 25px;
}

.post-content img {
    max-width: 100%;
}

.vectorial-img {
    width: 100%;
}

.mac-app-icon {
    width: 128px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.mac-app-title {
    font-size: 22px;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
