.sidebar {
    width: 28.125%;
    background-color: $iron;
    color:#fff;
    font-size: 24px;
    padding-left:25px;
    padding-top:25px;
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
}

.sticky + #content {
    margin-left:28.125%;
    margin-top: -58px;
}

.sticky {
    position: fixed;
    left: 0;
    top: ($headerHeight/2);
    bottom:0px;
    z-index: 100;
}

.sidebar:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 3px;
    top: 0px;
    bottom: 0px;
}

#sidebar-actions {
    position: relative;
}

#sidebar-actions:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    margin:auto;
    background-color: #fff;
    left:0px;
    right: 0px;
    top: 0px;
    bottom:0px;
    z-index:10;
}

#entries-filter {
    background-color: $iron;
    margin-left: 30px;
    padding: 0px 10px;
    left: 3px;
}

.in-top-sidebar {
    position: relative;
    z-index: 20;
}

#sidebar-toggler {
    height: 29px;
    width: 29px;
    border-radius: 29px;
    border: solid 3px #fff;
    display: inline-block;
    background-color: $iron;
    float:right;
    margin-right:25px;
    position: relative;
    top: -2px;
    cursor: pointer;
}

#sidebar-toggler i{
    position: relative;
    top: -4px;
    left: 5px;
    font-size: 35px;
}

#entries-feed {
    margin:60px 0;
}

.entry {
    margin-left:25px;
    color: #fff;
    padding-right:25px;
    position: relative;
    margin-bottom: 60px;
}

.entry-title {
    font-size: 24px;
    display : block;
    text-decoration: none;
    color:#fff;
}

.entry-sub-title {
    font-size: 14px;
    clear:both;
}

.entry-title, .entry-sub-title {
    margin-bottom: 5px;
}

.entry-tags {
    font-size: 10px;
    float: left;
}

.entry-read-more {
    font-size: 16px;
    float:right;
}

.entry-tag, .entry-read-more {
    color:$greeny;
    text-decoration: none;
    text-transform: capitalize;
}

.entry-tag:hover {
    color:$blueish;
}

.entry-tag:after {
    content : ',';
}

.entry-tag:last-child:after {
    content : '';
}

.entry:before {
    content : '';
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: #fff;
    position:absolute;
    border: 10px solid $iron;
    left:-38px;
    margin:auto;
    bottom:0px;
    top:0px;
}

.entry:after {
    content: "";
    display: table;
    clear: both;
}

.entry.active {
    color: $blueish;
}

.entry.active:before {
    box-shadow: 0 0 0 3px #fff;
}

.entry.active .entry-tag,
.entry.active .entry-read-more {
    color : $blueish;
}

.selected-tag {
    color: $orange;
}

.sidebar-nav-btn {
    width: 100%;
    margin: 40px auto;
    cursor: pointer;
    text-align: center;
}

.sidebar-down {
    // debug
    display: none;
}