---
layout: default
title: Talks
nav: talks
use:
    - posts
---
<h1 class="page-title">
    <span class="page-title-text">Talks</span>
</h1>

<div class="talks">
    <div class="talk">
        <div class="talk-cover">
            <img src="{{ site.url }}/assets/images/covers/talk1.jpg" alt="How to become a supper developer in 5 days without a teacher">
        </div>

        <a href="https://www.youtube.com/watch?v=yi9wE1PNDcI" class="talk-link" target="_blank">
            <span class="talk-title">
                How to become a supper developer <span style="text-decoration: line-through;">in 5 days</span> without a teacher
            </span><span class="talk-icon"><i class="fa fa-youtube-play"></i></span>
        </a>
    </div>
    <div class="talk talk-type-2">
        <div class="talk-cover">
            <img src="{{ site.url }}/assets/images/covers/talk2.jpg" alt="How to become a supper developer in 5 days without a teacher">
        </div>

        <a href="https://speakerdeck.com/kronik3r/moroccan-php-artisans-presentation" class="talk-link" target="_blank">
            <span class="talk-title">
                Morocan PHP Artisans Presentaion
            </span><span class="talk-icon"><i class="fa fa-external-link"></i></span>
        </a>
    </div>
    <div class="talk">
        <div class="talk-cover">
            <img src="{{ site.url }}/assets/images/covers/talk3.jpg" alt="How to become a supper developer in 5 days without a teacher">
        </div>

        <a href="https://speakerdeck.com/kronik3r/on-being-an-honest-developer" class="talk-link" target="_blank">
            <span class="talk-title">
                On being a honest developper
            </span><span class="talk-icon"><i class="fa fa-external-link"></i></span>
        </a>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quidem ipsum porro ut delectus molestias maxime veniam alias suscipit, tempore magni, repellendus eveniet earum recusandae quia laborum iusto tempora labore provident veritatis. Nostrum sapiente possimus tempore dignissimos, perspiciatis quo et totam eius quam quisquam placeat magni laudantium dolorum neque magnam. At dolores ut unde dolorum ex similique magnam labore non magni, nihil, adipisci, temporibus rem sit aspernatur quasi laboriosam suscipit libero repellat neque velit, ea recusandae hic optio incidunt. Quidem consequuntur necessitatibus repellat dignissimos laboriosam corporis fugiat neque nostrum dolores, asperiores voluptatem, laborum nihil voluptas numquam debitis? Voluptates praesentium dicta culpa necessitatibus sint dolorum voluptas enim, maiores eos odio, et iusto. Eligendi nam perferendis rem ab, reprehenderit, illo, cumque possimus consectetur blanditiis eum dolores quod sed dolor sit amet iure, magni eveniet! Dolorem perspiciatis, at dignissimos nesciunt corporis provident iste. Perspiciatis deserunt voluptates, quidem ea assumenda veniam, reiciendis placeat sapiente, dolorem, culpa quis. Ducimus soluta possimus quas quia natus tempore facilis placeat! Accusamus neque, provident rem, assumenda itaque odio vitae tempore maiores cupiditate delectus molestias incidunt. Ex quis illum aspernatur beatae provident obcaecati illo, itaque vitae qui laudantium atque ea ipsam minus commodi aperiam maiores consectetur temporibus voluptas velit. Vel officiis illum odio sapiente voluptates, aliquam nostrum ipsa amet porro laudantium, quisquam animi reiciendis asperiores labore sit ab obcaecati maxime vitae autem esse, incidunt. Obcaecati commodi ratione blanditiis dolorum veniam possimus velit aliquid, necessitatibus autem dicta dolores rerum odit voluptatum provident tempora, debitis pariatur molestiae non voluptas dolore quo temporibus excepturi veritatis. Vero omnis quis, voluptatem earum accusantium nisi molestias dolore veniam adipisci aliquid minima quam ad! Porro facilis quisquam, molestias ipsum. Voluptate a dolorum delectus ab vel, inventore, reprehenderit accusamus voluptatem laborum dolor atque tempora quas quo aperiam incidunt. Doloremque, aliquid sit amet incidunt id minus soluta fuga unde cum natus, sint iste esse recusandae ipsa commodi quasi rem, odio quibusdam, veritatis qui? Amet enim suscipit id neque, quam officia quis est eveniet error aperiam cupiditate sit, atque, iusto a fuga fugit in? Saepe voluptas, iusto, minus aspernatur libero velit soluta hic sapiente tenetur repellendus natus, harum aliquid ad porro adipisci. Id rem doloribus cupiditate, illo officia consequatur reiciendis nulla temporibus accusantium incidunt quidem itaque omnis eligendi alias adipisci quae aut tempora vero aliquid voluptate, totam, dicta! Aliquam odit rerum praesentium quo explicabo, asperiores iure, veniam id at reiciendis quibusdam voluptatum nulla. Illo eaque perspiciatis ab quos explicabo dolore, numquam accusamus, dolorem ipsum blanditiis esse voluptate in accusantium reiciendis tempora. Laborum voluptates aperiam reiciendis odio consequuntur doloribus architecto quidem atque dicta modi ipsum, vitae error facilis at laboriosam iure nemo recusandae sunt enim expedita libero accusantium saepe adipisci? Voluptatum voluptates ullam, exercitationem nihil molestiae inventore quae, sed doloribus ipsum, modi consectetur quidem iste. Magni dicta necessitatibus accusamus odio. Eligendi molestiae molestias nisi delectus fugit distinctio provident dicta temporibus, saepe ipsam quos expedita quaerat iste suscipit placeat nemo voluptas perferendis aliquid quo, cum, consequatur explicabo dolore. Ipsam architecto consectetur quas voluptatibus provident, nemo dignissimos doloribus eos quis, laborum debitis libero, quo odio neque illum voluptate aut aliquid sint inventore recusandae, omnis tempora molestiae iure porro ea. Veniam est nostrum porro aut doloribus vel, praesentium non blanditiis necessitatibus dolorem. Error, ducimus? Quos perferendis debitis expedita porro molestias ea, a placeat distinctio laudantium numquam non nulla aperiam optio nobis cupiditate odio error dicta similique nemo assumenda voluptatum illum corrupti odit quisquam reiciendis. Sit accusamus voluptate eos molestiae aliquid quaerat quo quod, laboriosam architecto! Vel fugit a maxime dolorem illum consectetur voluptatum accusamus, repellat id expedita omnis reiciendis! Officiis illo ab quas, voluptates optio, dicta veniam soluta facere doloribus deleniti ipsa quidem reprehenderit aperiam placeat voluptate, possimus obcaecati quia! Asperiores quam, consectetur deleniti. Pariatur, eos! Minima perspiciatis repellat ullam, numquam amet repudiandae eveniet porro dolorum ipsam fugiat libero quo tempora pariatur aliquid laboriosam blanditiis ipsum laudantium in, necessitatibus sed praesentium possimus consectetur facilis quos. Minima tempora quasi nulla facilis nisi laborum quod hic autem. Non amet, nulla earum nobis est aliquam quibusdam nemo similique sint laudantium nesciunt, cumque soluta nam culpa tempora odio quasi! Dolorem, necessitatibus odio cupiditate, nam velit beatae a eius numquam suscipit quasi illum magni commodi perferendis fugiat minus dolore facere unde tempore molestiae obcaecati deserunt minima voluptatibus nemo praesentium. Voluptates veniam dignissimos laborum deserunt id aliquid, impedit eum. Eos temporibus, rem aperiam. Velit optio quas placeat modi vel assumenda dolores ab autem expedita suscipit. Asperiores eius architecto accusantium, fugiat molestiae libero voluptatem neque non fugit eum ratione unde ea sed eaque optio! Deserunt beatae ducimus dolorum maxime eaque aut fuga id optio, est illum laborum recusandae. Dolore, harum quod quas quaerat. Nobis rerum reprehenderit quasi, consequuntur quae dolorem sequi illo rem omnis, necessitatibus ipsam unde! Magnam vero quia rerum laborum nulla quae consectetur doloribus inventore ipsum ex. Repudiandae enim molestias aliquam soluta eos cupiditate? Cupiditate consequuntur excepturi hic nisi architecto repellendus sit atque explicabo dignissimos vero nam inventore voluptates rerum aperiam quibusdam voluptatem facilis, fuga et nesciunt tempora nulla quidem. Ipsam labore quod amet quas, beatae nihil eius tempora dolore animi nobis, mollitia laboriosam saepe quasi quam quo excepturi illum, aliquid nostrum corporis reiciendis veritatis odit rerum provident ex. Culpa exercitationem commodi quod, error pariatur expedita sit distinctio incidunt veritatis nemo et aut modi laborum impedit libero, ut sunt assumenda quam praesentium autem laboriosam dolores dicta. Culpa tenetur consequatur modi repellat reprehenderit nihil, voluptates est amet sed qui cumque doloribus officia nostrum velit, sunt corporis ex, eius perferendis ab! Cupiditate quia veniam placeat rem sint accusantium modi, fugit impedit nihil fuga laborum et maiores ab minus earum culpa, reiciendis minima nobis eligendi ex architecto explicabo. Voluptatibus facilis, officia et assumenda neque molestiae ab, quo impedit! Recusandae quod aspernatur molestias reiciendis cupiditate, iusto, error quo commodi ipsum minus omnis, et aut aliquid provident hic est optio magnam officia possimus. Deleniti quod molestiae a ad eaque mollitia aliquid ducimus quo ut, dolores omnis sit magni harum similique? Nemo veritatis voluptates provident exercitationem, perspiciatis quisquam blanditiis magnam eligendi at nostrum, delectus culpa ullam sit nisi reprehenderit ipsa beatae in est officiis sint!
